@font-face {
    font-family: 'Hello Stockholm Alt';
    src: url('HelloStockholm-Alt.eot');
    src: url('HelloStockholm-Alt.eot?#iefix') format('embedded-opentype'),
        url('HelloStockholm-Alt.woff2') format('woff2'),
        url('HelloStockholm-Alt.woff') format('woff'),
        url('HelloStockholm-Alt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

