article{
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom: 2px solid #dbdbdb;
}
article:first-child,article:last-child{
    padding-top: 10px;
}
a{
 color: black;
}
#home-screen{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%
}
#home-screen a{
  color: #363636;
}
.ya-share2__badge{
  background: #363636 !important
}
.ya-share2__badge:hover{
 background: #91170a !important
}
#posts a{
  text-decoration: underline;
}

a:hover, a:focus{
  color: #91170a;
}
#posts a.button{
  text-decoration: none;
}
#posts a.is-link{
  text-decoration: underline;
}
.avatar{
    width: 200px;
    height: 200px;
    background: url(../images/avatar.jpg) center;
    background-size: cover;
    border: 5px solid;
    border-radius: 100px;

    position: relative;
    left: 50%;
    margin-left: -100px;

    display: none;
}
.menu{
  margin-top: 40px;
}
.articles,.is-footer, .hero.is-footer{
    padding-bottom: 2.5rem !important;
}
.button.bd-is-rss:hover {
    background-color: #91170a;
    color: #fff;
}

.button.bd-is-rss {
    background-color: #363636;
    border-color: transparent;
    color: #fff;
}

a.link-disable{
   pointer-events:none;
}
.is-footer{
  padding-bottom: 0 !important;
  padding-top: 2.5rem;
}
.is-footer ul{
  border-bottom: none;
}
.is-footer ul a:hover{
  border-color: transparent;
}
.ya-share2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
    margin-bottom: -20px;
}
#posts > .container{
  -webkit-box-shadow: 0 0 40px 0 rgba(236,236,236,.75);
          box-shadow: 0 0 40px 0 rgba(236,236,236,.75);
  padding: 20px 30px;
}

#posts > .container:before, #posts > .container:after {
  content: '';
  position: absolute;
  background-repeat: repeat;
  z-index: -1;
}

#posts > .container:after {
  background: -webkit-linear-gradient(315deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #363636 75%, #363636), -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #363636 75%, #363636), -webkit-linear-gradient(225deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #363636 75%, #363636), -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #363636 75%, #363636);
  background: -o-linear-gradient(315deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #363636 75%, #363636), -o-linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #363636 75%, #363636), -o-linear-gradient(225deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #363636 75%, #363636), -o-linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #363636 75%, #363636);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #363636 75%, #363636), linear-gradient(315deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #363636 75%, #363636), linear-gradient(225deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #363636 75%, #363636), linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #363636 75%, #363636);
  background-position: 0.5em 0.5em, 0.5em 0em, 0.5em 0, 0.5em 0.5em;
  background-size: 1em 1em;
  left: -1em;
  top: 0;
  height: 100%;
  width: 1em;
}
.aside ul{
  list-style-type:none;
  margin-left: 0;
  padding-left: 0;
}

#posts .aside ul a{
  text-decoration: none
}
.aside ul .fa, .subtitle .fa{
  position: relative;
  top: 7px;
}
.arrow{
  position: relative;
  display: inline;
  background: #363636;
  color: white !important;
  padding: 3px 40px;
}
.arrow:before, .arrow:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0;
  top: 0;
}
.arrow:after, .arrow:before {
  border-width: 17px 0 17px 17px;
}
.arrow:before {
  border-color: #363636 transparent;
  left: -17px;
}
.arrow:after {
  border-color: transparent #363636;
  right: -17px;
}
.aside{
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#posts.single-page > .container::after{
  content: none;
}
#posts .column.is-9-desktop .content a:visited, .is-visited:visited{
  color: #663366;
}
#posts .column.is-9-desktop .content a:visited:hover, .is-visited:visited:hover,
#posts .column.is-9-desktop .content a:visited:focus, .is-visited:visited:focus{
  color: #91170a;
}
code{
  color: brown;
  padding: 0.05em 0.3em;
}
.content figure{
  padding: 10px 0;
}
.content figure figcaption{
  margin-top: 10px
}
.content .hljs {
    padding: 0 ;
    background: transparent;
}